@font-face {
  font-family: 'Old London';
  src: url('/fonts/old_london/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: dark;
  background-color: #000000;
  font-synthesis: none;

  --primary-text-colour: rgba(255, 255, 255, 0.87);
  
  --primary-body-font: 'Courier Prime', monospace;
  --primary-heading-font: 'REM', monospace;
  --primary-display-font: 'Handjet', cursive;
  --primary-handwriting-font: 'Caveat', cursive;
  
  --secondary-display-font: 'Croissant One', cursive;
  --other-display-font: 'VT323', monospace;
  
  --primary-font: var(--primary-display-font);

  --primary-text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
  
  font-family: var(--primary-font);
  font-weight: 100;

  color: var(--primary-text-colour);

  scroll-behavior: smooth;

}

* {
  margin: 0;
  padding: 0;
}

* {
  z-index: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  width: 100%;
  z-index: 99;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1 {
  font-size: 7em;
  font-family: var(--primary-font);
  text-shadow: var(--primary-text-shadow);
  width: fit-content;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* make the backdrop-filter fade out */
  padding: 0.2em 0.5em;
  text-align: center;
}

section, .section {
  grid-column: 1 / 13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  min-height: 100vh;
}

header {
  height: 100vh;
  grid-column: 1 / span 12;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thing {
  content: '';
  position: fixed;
  width: 140vw;
  aspect-ratio: 1 / 1;
  /* background: url('public/images/blue-purple-grainy-gradient.png') no-repeat center center; */
  background-size: cover;
  box-shadow: inset 0px 0px 100vw 100vw black;
  z-index: -1;
  border-radius: 50%;
  animation: box-shadow 1.5s ease-out 1;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.thing::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: inset 0px 0px 100vw 100vw black;
}

@keyframes box-shadow {
  0% {
    box-shadow: inset 0px 0px 70vw 70vw black;
  }
  100% {
    box-shadow: inset 0px 0px 70vw 0vw black;
  }
}

#main__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-size: 6em;
  letter-spacing: 0.5em;
  font-family: var(--primary-font);
  display: none;
}

#main__title span {
  text-align: center;
  cursor: default;
  user-select: none;
  text-shadow: var(--primary-text-shadow);
  margin: 0 0.2em;
  line-height: 2;
}

#main__title span:hover {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.font-name {
  font-size: 4em;
}

#lorem {
  /* centred, with 2 fr on each side */
  grid-column: 3 / span 8;
}

#lorem p {
  font-size: 7em;
  text-align: center;
  line-height: 1.5em;
  font-family: var(--primary-heading-font);
  margin: 0.5em 0;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

@media screen and (max-width: 700px) {
    
  #main__title {
    font-size: 2em;
  }

}

#hello-world {
  font-size: 9em;
}


#works__section {
  backdrop-filter: invert(1);
}

#works__section--actual {
}

#works__section--actual .project__cover {
  background: hsl(0, 0%, 90%);
  width: 300px;
  height: 300px;
  border-radius: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
  color: #00000015;
  font-size: 17em;
  font-family: monospace;
  font-weight: 600;
  margin: 0.5em;
}