@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa&VT323&Caveat:wght@500&family=Chokokutai&family=Handjet:wght@500&family=Lugrasimo&family=Lumanosimo&family=Permanent+Marker&family=Rowdies&family=Zeyada&family=Big+Shoulders+Inline+Text&family=Press+Start+2P&family=Kablammo&family=Moirai+One&family=Monoton&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;

  --primary-font: 'Lumanosimo', sans-serif;

  font-family: var(--primary-font);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

* {
  margin: 0;
  padding: 0;
}

* {
  z-index: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header::after {
  content: '';
  background-image: url(/public/images/noise.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  z-index: 0;
}

#main__title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  text-transform: uppercase;
  width: fit-content;
}

#main__title span {
  font-size: 8em;
  text-align: center;
}

section {
  height: 100vh;
  width: 100vw;
}