:root {
    --dark-blue: #131316;
    --darker-blue: #22222a;
    --dark-grey: #2d2d30;
    --darker-grey: #3d3d40;
    --light-grey: #8f8f97;
    --lightest-grey: #b3b3b8;
    --light: #dfe2fc;
    --yellow: #d0a616;
    --light-yellow: #d5c592;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--dark-blue);
    overflow-x: hidden;
}

* {
    position: relative;
    color: var(--light);
    font-family: 'Raleway', sans-serif;
}

.dynamic {
    transition: 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
}

.visible {
    transform: scale(1) translate(0) translateX(0) !important;
    opacity: 1 !important;
    line-height: normal !important;
}
  
header {
    background: #13131677;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 10vw;
    z-index: 1;
}

header .logo {
    width: 55px;
    margin-right: auto;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #131316cc;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.menu-button {
    display: none;
}

nav {
    width: fit-content;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: fit-content;
}

nav li {
    margin: 0 2em;
    display: inline-block;
    opacity: 0;
}

nav li:nth-child(1) {
    transition: 0.5s ease 0s;
}

nav li:nth-child(2) {
    transition: 0.5s ease 0.1s;
}

nav li:nth-child(3) {
    transition: 0.5s ease 0.2s;
}

nav a {
    font-size: 1em;
    text-decoration: none;
    padding: 1em 0;
    transition: color 0.2s;
    font-weight: bold;
}

nav a::after {
    content: '';
    background: var(--yellow);
    width: 0%;
    height: 3px;
    display: block;
    margin: 3px auto;
    transition: width 0.2s;
}

.expand::after {
    width: 100%;
}

.main-section {
    padding: 25vh 0 0 10vw;
    box-sizing: border-box;
    display: block;
    height: 100vh;
}

.main-section h1 {
    font-size: 5em;
    margin: 0;
    opacity: 0;
}

.main-section h1::before {
    display: none;
}

.main-section h1, .main-section h1::after {
    animation: slideIn 0.5s cubic-bezier(.36,1.73,.67,1) forwards;
    animation-delay: 1.5s;
}

.main-section h2 {
    margin: 0;
    color: var(--yellow);
    opacity: 0;
    transition: 0.3s ease-out;
    transition-delay: 0.8s;
    font-family: monospace;
    font-weight: normal;
    font-size: 2em;
}

.main-section h3 {
    color: var(--light-grey);
    max-width: 30vw;
    transition: 0.3s ease-out;
    transition-delay: 2s;
    opacity: 0;
}

@keyframes slideIn {
    from {opacity: 0;
        letter-spacing: 5px;
        position: relative;
        left: 20px;}
    to {opacity: 1;
        letter-spacing: 1;
        position: relative;
        left: 0;}
}

.scroll-prompt {
    position: absolute;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    box-sizing: border-box;
    animation: hover 3s ease-in-out infinite, appear 0.5s ease-in-out forwards;
    animation-delay: 3s;
    opacity: 0;
    cursor: pointer;
}

@keyframes hover {
    0% {transform: translateY(0) translateX(-50%);}
    50% {transform: translateY(3vh) translateX(-50%);}
    100% {transform: translateY(0) translateX(-50%);}
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    padding: 0 10vw 20vh;
}

section h1 {
    font-family: 'Archivo Black', 'Poppins', sans-serif;
    font-size: 6em;
    height: fit-content;
    margin: 0.3em 0 0 0;
}

section h1::after {
    content: '.';
    color: var(--yellow);
}

section p {
    text-align: justify;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0;
    padding: 1.5em 0 0 0;
    color: var(--lightest-grey);
    position: relative;
    /* max-width: 50vw; */
}
/* 
section h1::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.1em;
    background: var(--yellow);
    width: 1em;
    height: 0.1em;
    margin-left: 0.2em;
} */

.quote {
    font-size: 2em;
    color: var(--light-yellow);
    text-align: left;
    margin: 20px 0;
}

cite, cite * {
    font-size: 1.5em;
    color: var(--light-grey);
    text-align: left;
    margin: 4px 0;
    font-family: monospace;
    font-style: normal;
}
/* 
.quote::before {
    content: '“';
    font-size: 1.5em;
    font-weight: bold;
    color: var(--yellow);
    position: relative;
    top: 0.15em;
    right: 0.1em;
}

.quote::after {
    content: '”';
    font-size: 1.5em;
    font-weight: bold;
    color: var(--yellow);
    position: relative;
    top: 0.15em;
    right: 0.1em;
} */

.about-section div {
    font-size: 4em;
    font-weight: bold;
    padding: 5vw;
}

.about-section img {
    width: 10vw;
    border-radius: 20px;
    margin: 0 1em 0 0;
    float: left;
}

/* .projects-section {} */

.projects-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80vw;
    height: fit-content;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    width: 30vw;
    margin: 0;
    padding: 20px 0;
    border-radius: 0;
    transition: 0.9s ease-in-out, box-shadow 0.3s ease;
    /* cursor: pointer; */
}

.project-wrapper * {
    color: var(--light);
}

.project-wrapper p {
    text-align: left;
}

.project-wrapper h2 {
    font-size: 4em;
    margin: 0;
}

.projects-section .project-wrapper:hover {
    /* box-shadow: 10px 10px 0px 0 var(--yellow); */
}

.alilius-logo {
    font-family: 'Righteous';
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 30vh 0 0 0;
    padding: 20px 10vw;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

footer p {
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: var(--light-grey);
    font-size: 0.9em;
}

@media screen and (max-width: 700px) {
    
    .header-hidden {
        transform: translateY(-100%);
    }

    header {
        backdrop-filter: blur(5px);
        position: fixed;
        padding: 3vw 5vw;
        transition: transform 0.6s;
    }

    header .logo {
        /* position: fixed;
        left: 5vw;
        top: 3vw; */
        width: 50px;
    }

    .menu-button {
        display: inline-block;
        background-color: transparent;
        border: none;
        /* position: fixed;
        top: 3vw;
        right: 3vw; */
    }

    .nav-hidden {
        transform: translateX(100%);
    }

    nav {
        background-color: var(--darker-blue);
        position: fixed;
        top: 0vh;
        right: 0;
        bottom: 0vh;
        width: 70vw;
        height: 100vh;
        transition: transform 0.3s ease-in-out, opactiy 0s;;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        padding: 25vh 50px;
    }

    nav li {
        font-size: 1.4em;
        margin: 1em 0;
    }

    body {
        padding: 0;
    }

    section {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 5vw 20vh 5vw;
    }

    section h1 {
        font-size: 3em;
        margin: 0.3em 0;
    }

    section p {
        font-size: 1.2em;
        color: var(--light);
        max-width: fit-content;
    }

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20vh 5vw 0 5vw; 
        height: 100vh;
        position: relative;
    }
    
    .main-section h1 {
        font-size: 3.2em;
    }

    .main-section h2 {
        font-size: 1.2em;
        margin: 0.5em 0;
    }

    .main-section h3 {
        max-width: 100%;
        padding: 0;
        margin: 20px 0;
        line-height: 1.6em !important;
        font-size: 1em;
    }

    .scroll-prompt {
        bottom: 15vh;
    }

    footer {
        align-items: center;
    }
}
