body {
    background-color: #131316;
    color: #fff;
    font-family: 'Archivo Black', 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

header h1 {
    font-size: 5em;
}
