@font-face {
  font-family: 'Old London';
  src: url('public/fonts/old_london/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ARB 85 Poster Script JAN-39';
  src: url('public/fonts/arb_85_poster_script_jan_39/ARB 85 Poster Script JAN-39 FRE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'US Angel';
  src: url('public/fonts/usangel/usangel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cloister Black';
  src: url('public/fonts/cloister-black/CloisterBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  height: 400vh;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background: center no-repeat url('/public/images/Great_Wave_off_Kanagawa2.jpg');
  background-size: cover;
  width: 1200px;
  height: 800px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(0px);
}

.img-window {
  position: fixed;
  border-radius: 50px;
  width: 201px;
  overflow: hidden;
  display: grid;
  place-items: center;
  background: #000000aa;
  backdrop-filter: invert(0.5);
  aspect-ratio: 2 / 3;
  z-index: 1;
}

#profile-img {
  height: 300px;
  border-radius: 5px;
}

h1 {
  font-size: 5em;
  margin: 0.4em;
  position: fixed;
  bottom: 18vh;
  color: #ff0000;
}

#blurred-circle {
  position: absolute;
  top: 50px;
  left: 50px;
}

#box {
  width: 300px;
  height: 300px;
  /* background: repeating-linear-gradient(90deg, #00000000, #00000022 6.25%); */
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  border: 0px solid #ffffff;
  --backdrop-filter-basics: blur(0px) sepia(0) invert(0);
  border-radius: 2px;
}

#box::after {
  border-radius: 2px;
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  background: linear-gradient(90deg, #00000033, #00000000, #00000033);
}

/* firefox doesn't seem to support the displacement filter stuff sadly, so this stuff is just compatibility-proofing */
@supports (backdrop-filter: url(#displacementFilter)) {
  #box {
    backdrop-filter:  url(#displacementFilter) var(--backdrop-filter-basics);
  }
}

@supports not (backdrop-filter: url(#displacementFilter)) {
  #box {
    backdrop-filter: var(--backdrop-filter-basics);
  }
}

@-moz-document url-prefix() {
  #box {
    backdrop-filter: blur(5px) var(--backdrop-filter-basics) !important;
  }
}


#box:active {
  cursor: grabbing;
}

header {
  padding: 20px;
}