@font-face {
  font-family: 'Old London';
  src: url('public/fonts/old_london/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ARB 85 Poster Script JAN-39';
  src: url('public/fonts/arb_85_poster_script_jan_39/ARB 85 Poster Script JAN-39 FRE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'US Angel';
  src: url('public/fonts/usangel/usangel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cloister Black';
  src: url('public/fonts/cloister-black/CloisterBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background: center no-repeat url('/public/images/Great_Wave_off_Kanagawa2.jpg');
  background-size: cover;
  width: 1200px;
  height: 800px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(0px);
}

header {
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  background: blue;
}

h1 {
  font-size: 5em;
  margin: 0.4em;
  color: #ff0000;
}

#box {
  --width: 100px;
  --height: 300px;
  width: var(--width);
  height: var(--height);
  background: repeating-linear-gradient(90deg, #00000000, #00000022 6.25%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: grab;
  border: 0px solid #ffffff;
  --backdrop-filter-basics: blur(0px) sepia(0) invert(0);
  border-radius: var(--border-radius);
  --border-radius: 50px;
}

#box::after {
  border-radius: var(--border-radius);
  content: "";
  display: block;
  width: var(--width);
  height: var(--height);
  background: linear-gradient(90deg, #00000011, #00000000, #00000011);
}

#box:active {
  cursor: grabbing;
}

/* firefox doesn't seem to support the displacement filter stuff sadly, so this stuff is just compatibility-proofing */
@supports (backdrop-filter: url(#displacementFilter)) {
  #box {
    backdrop-filter:  url(#displacementFilter) var(--backdrop-filter-basics);
  }
}

@supports not (backdrop-filter: url(#displacementFilter)) {
  #box {
    backdrop-filter: var(--backdrop-filter-basics);
  }
}

@-moz-document url-prefix() {
  #box {
    backdrop-filter: blur(5px) var(--backdrop-filter-basics) !important;
  }
}

.cropped-section {
  background: red;
  padding: 10vh 10vw;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200vh;
  display: flex;
  align-items: start;
  justify-content: center;
  clip-path: inset(10vh calc(50vw - 100px) calc(190vh - 200px) calc(50vw - 100px));
}

#profile-img {
  width: 200px;
  border-radius: 50%;
  /* clip-path: rect(0 1000px 1000px 0); */
}