:root {
    --dark: #131316;
    --dark-grey: #2d2d30;
    --darker-grey: #3d3d40;
    --light-grey: #8f8f97;
    --light: #dfe2fc;
    --yellow: #d0a616;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--dark);
    overflow-x: hidden;
}

* {
    position: relative;
    color: var(--light);
    font-family: 'Raleway', sans-serif;
}

.dynamic {
    transition: 0.9s ease-in-out;
}

.hidden {
    opacity: 0;
}

.visible {
    transform: scale(1) translate(0) translateX(0) !important;
    opacity: 1 !important;
    line-height: normal;
}
  
header {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vw 2vw;
    z-index: 1;
}

nav {
    width: fit-content;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: fit-content;
}

nav li {
    margin: 0 2em;
    display: inline-block;
    transition: 0.3s ease;
    opacity: 0;
}

nav li:nth-child(1) {
    transition-delay: 2.6s;
}

nav li:nth-child(2) {
    transition-delay: 2.7s;
}

nav li:nth-child(3) {
    transition-delay: 2.8s;
}

nav a {
    font-size: 1em;
    text-decoration: none;
    padding: 1em 0;
    transition: color 0.2s;
    font-weight: bold;
}

nav a::after {
    content: '';
    background: var(--yellow);
    width: 0%;
    height: 3px;
    display: block;
    margin: 3px auto;
    transition: width 0.2s;
}

.expand::after {
    width: 100%;
}

section {
    height: 100vh;
}

section h1 {
    font-size: 3em;
    font-family: 'Archivo Black', 'Poppins', sans-serif;
}

section h1::after {
    content: '.';
    color: var(--yellow);
}

.main-section {
    padding: 25vh 0 0 10vw;
    box-sizing: border-box;
}

.main-section h1 {
    font-size: 5em;
    margin: 0;
    opacity: 0;
}

.main-section h1, .main-section h1::after {
    animation: slideIn 0.5s cubic-bezier(.36,1.73,.67,1) forwards;
    animation-delay: 1.5s;
}

.main-section h2 {
    margin: 0;
    color: var(--yellow);
    opacity: 0;
    transition: 0.3s ease-out;
    transition-delay: 0.8s;
    font-family: monospace;
    font-weight: normal;
    font-size: 2em;
}

.main-section h3 {
    color: var(--light-grey);
    max-width: 30vw;
    transition: 0.3s ease-out;
    transition-delay: 2s;
    opacity: 0;
}

@keyframes slideIn {
    from {opacity: 0;
        letter-spacing: 5px;
        position: relative;
        left: 20px;}
    to {opacity: 1;
        letter-spacing: 1;
        position: relative;
        left: 0;}
}


.about-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
}

.about-section h1 {
    font-size: 6em;
    height: fit-content;
    margin: 0.3em
}

.about-section div {
    font-size: 4em;
    font-weight: bold;
    padding: 5vw;
}

.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 0 0 10vh 0;
}

.projects-section h1 {
    font-size: 6em;
    height: fit-content;
}

.projects-section .project-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    height: fit-content;
}

.projects-section .project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 30vw;
    margin: 5vh;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid var(--darker-grey);
    transition: 0.9s ease-in-out, box-shadow 0.3s ease;
    cursor: pointer;
}

.projects-section .project-item:hover {
    box-shadow: 10px 10px 0px 0 var(--yellow);
}

#alilius-project {
    background: black;
    
}

#alilius-project h2 {
    color: white;
    font-family: 'Righteous';
    font-size: 3em;
}

footer {
    padding: 50vh;
}

@media screen and (max-width: 500px) {
    
    * {}

    header {}

    .menu-button {
        display: inline-block;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 3vw;
        right: 3vw;
    }

    .nav-hidden {
        transform: translateX(100%);
    }

    nav {
        background-color: var(--dark-grey);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70vw;
        transition: transform 0.3s ease-in-out, opactiy 0s;;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        padding: 20vh 50px;
    }

    nav li {
        font-size: 1.4em;
        margin: 1em 0;
    }

    body {
        padding: 0;
    }

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20vh 5vw 0 5vw; 
        height: 100vh;
    }
    
    .main-section h1 {
        font-size: 3.2em;
    }

    .main-section h2 {
        font-size: 1.2em;
        margin: 0.5em 0;
    }

    .main-section h3 {
        max-width: 100%;
        padding: 0;
        margin: 20px 0;
        line-height: 1.6em !important;
        font-size: 1em;
    }

    .about-section h1 {
        font-size: 3.5em;
        text-align: center;
    }
}
