@font-face {
  font-family: 'Old London';
  src: url('/fonts/old_london/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Serif';
  src: url('/fonts/DM_Serif/DMSerifText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trajan';
  src: url('/fonts/Trajan/Trajan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ARB 85 Poster Script JAN-39';
  src: url('/fonts/arb85-2/arb85.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'US Angel';
  src: url('/fonts/usangel/usangel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cloister Black';
  src: url('/fonts/cloister-black/CloisterBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Fanwood';
  src: url('/fonts/fanwood/fanwood-master/webfonts/fanwood-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Ostrich Sans';
  src: url('/fonts/ostrich-sans/ostrich-sans-master/webfonts/ostrich-sans-black.ttf')
}

@font-face {
  font-family: 'Inria Serif';
  src: url('/fonts/Inria_Serif/InriaSerif-Italic.ttf')
}

@font-face {
  font-family: "Ranade";
  src: url('/public/fonts/Ranade_Complete/Fonts/TTF/Ranade-Variable.ttf');
}

@font-face {
  font-family: "Lastik";
  src: url('public/fonts/lastik/Fonts/Lastik Free Font/TTF/LastikFreeFont-Free.ttf');
}

@font-face {
  font-family: "Suisse Intl";
  src: url('/public/fonts/suisse-intl/SuisseIntlCondTrial.otf') format('opentype');
}

:root {
  --main-background: #ffffff;
  --main-background-light: #fdfdfd;
  --primary-serif: 'Lastik', 'Crimson Text', Georgia, 'Times New Roman', Times, serif;
  --default-serif: 'Crimson Text', Georgia, 'Times New Roman', Times, serif;
  --primary-sans-serif: 'Inter', 'Noto Sans JP', 'Roboto', sans-serif;
  --primary-heading-sans-serif: "Anton", 'Ranade', 'Roboto', sans-serif;

  --label-letter-spacing: 15%;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

::selection {
  background: hsl(51, 100%, 67%);
  color: hsl(51, 47%, 19%);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--main-background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fade-out 0.5s ease-out forwards;
  animation-delay: 1s;
}

x.loading-screen {
  height: 100vh;
  grid-column: 1 / span 12;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.3);
  }
}

/* Not used in active HTML */
#main__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  font-family: monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #151515;
  line-height: 0.8em;
  font-size: 3em;
}

/* Not used in active HTML */
#shadow-thing {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 0;
  box-shadow: inset calc(var(--shadow-x)) calc(var(--shadow-y)) 100px var(--shadow-color);
  --shadow-x: 200px;
  --shadow-y: 250px;
  --shadow-color: white;
}

/* Not used in active HTML */
#shadow-thing::after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: inherit;
  box-shadow: inset calc(var(--shadow-x)*-1) calc(var(--shadow-y)*-1) 100px var(--shadow-color);
  --shadow-color: white;
}

/* Not used in active HTML */
.thing {
  content: '';
  position: fixed;
  width: 140vw;
  aspect-ratio: 1 / 1;
  /* background: url('public/images/blue-purple-grainy-gradient.png') no-repeat center center; */
  background-size: cover;
  box-shadow: inset 0px 0px 100vw 100vw black;
  z-index: 2;
  border-radius: 50%;
  animation: box-shadow 0.7s ease-out 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

/* Not used in active HTML */
.thing::after {
  content: '';
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: inset 0px 0px 100vw 100vw black;
}

/* Not used in active HTML */
@keyframes box-shadow {
  0% {
    box-shadow: inset 0px 0px 70vw 70vw black;
  }
  100% {
    box-shadow: inset 0px 0px 0vw 0vw black;
  }
}

/* Not used in active HTML */
#main__title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-size: 4em;
  letter-spacing: 0.5em;
  font-family: var(--primary-font);
  transition: scale 1s;
  clip-path: rect(0 100% 100% 0);
}

/* Not used in active HTML */
#main__title span {
  text-align: center;
  cursor: default;
  user-select: none;
  text-shadow: var(--primary-text-shadow);
  margin: -1rem 0.2em;
  line-height: 2;
}

/* Not used in active HTML */
#main__title span:hover {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

/* Not used in active HTML */
.main__title-char-container {
  position: relative;
}

/* Not used in active HTML */
#bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1000; */
  display: block;
  pointer-events: none;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 3rem;
  box-sizing: border-box;
  z-index: 99;
}

.nav-bar .menu-button {
  cursor: pointer;
}

.nav-bar .menu-button img {
  translate: 0 2.5px;
  margin-left: 0.3rem;
}

.nav-bar a:hover {
  background: #000000;
  color: white;
}

.beta-notification {
  width: 100vw;
  height: 3rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000aa;
  font-style: italic;
}

.blue-section {
/* Not used in active HTML */
  width: 500px;
  height: 80vh;
  background: rgba(94, 120, 153, 0.726);
  backdrop-filter: blur(7px);
  padding: 20px;
  box-sizing: border-box;
  margin: 25px 0;
}

.blue-section * {
/* Not used in active HTML */
  color: white;
}

.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: #ffffff;
}

.picture-frame {
/* Not used in active HTML */
  position: fixed;
  width: 200px;
  scale: 1;
  z-index: 0;
  pointer-events: none;
  translate: 0 calc(var(--about-section-offset-top) + 34.5vw);
}

@media screen and (max-width: 768px) {
  .hero-section {
    width: 90vw;
    left: 5vw;
    top: 15vh;
    height: auto;
    min-height: 70vh;
  }

  .blue-section {
    width: 90vw;
    height: auto;
    min-height: 70vh;
  }

  .hero-section-title {
    font-size: clamp(2.5rem, 12vw, 7rem);
  }
}

#about {

}

* {
  /* --about-section-offset-top: -35vw; */
  --about-section-offset-top: -200px;
}

.hero-scroll-spacer  {
/* Not used in active HTML */
  height: 100vh;
}

.about-section {
  position: relative;
  top: var(--about-section-offset-top);
  width: 100vw;
  height: 200vh;
  background: var(--main-background);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* clip-path: rect(calc(var(--about-section-offset-top)*-1) 100vw 133.33vw 0); we can probably remove this */
  transform-origin: 48% 57%;
  /* animation: rotate 20s linear infinite; */
}

@keyframes rotate {
/* Not used in active HTML */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 133.33vw;
  box-shadow: inset 0 -60vw 1000px -200px var(--main-background); /* the second value is the one that controls how far up the shadow goes */
}

.about-section::before {
  /* content: ""; */
  position: absolute;
  left: 0;
  bottom: var(--about-section-offset-top);
  width: 100%;
  height: calc(var(--about-section-offset-top)*-1);
  background: #010101aa;
  z-index: 1;
}

.about-section-content {
  perspective: 1000px;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section-title {
  font-family: "Crimson Text", "DM Serif", Georgia, 'Times New Roman', Times, serif;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 11.52px;
  margin-bottom: 2rem;
}

.about-section p {
  margin: 2rem;
  font-size: 1.2em;
  max-width: 300px;
  font-weight: 200;
  /* font-family: "Crimson Text", "Times New Romans", serif; */
  font-family: "Suisse Intl", "Ranade", "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 5%;
}

.hero-section-background-image {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120vh;
  object-fit: cover;
  opacity: 0.03;
  pointer-events: none;
}

.hero-section-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  box-sizing: border-box;
}

.hero-top-matter {
  margin-bottom: auto;
}

.hero-logo {
  font-size: 1.5em;
  font-family: var(--primary-heading-sans-serif);
  font-weight: bold;
}

.hero-sub-heading {
  font-family: var(--primary-sans-serif);
  font-weight: 400;
  font-size: 0.8em;
  text-wrap: nowrap;
  text-transform: uppercase;
  letter-spacing: var(--label-letter-spacing);
  position: relative;
}
/* 
.hero-sub-heading::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: hsl(51, 100%, 80%);
  transform: scaleY(0);
  transition: transform 0.1s ease-out;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 10px hsl(51, 100%, 80%);
  cursor: default;
}

.hero-sub-heading:hover::before {
  transform: scaleY(1);
} */

.hero-section-content h1 {
  max-width: 50%;
  font-size: 9rem;
  line-height: 1em;
  margin: 1.4rem 0;
  font-family: 'Anton';
  text-transform: uppercase;
  font-weight: 400;
  /* letter-spacing: 3%; */
  line-height: 0.9em;
}

.hero-h1-word {
  display: flex;
}

.hero-h1-char {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: default;
  overflow: visible;
}

.hero-h1-char.hovered {
  width: 0;
  font-family: var(--primary-serif);
  font-weight: 100;
  color:hsl(51, 100%, 40%);
  font-style: italic;
  font-size: 1em;
  position: relative;
  right: 20px;
  top: 15px;
  z-index: 9;
}

@media screen and (min-width: 1400px) {
  .hero-section-content h1 {
    font-size: 9rem;
  }
}

@media screen and (min-width: 1600px) {
  .hero-section-content h1 {
    font-size: 10rem;
  }
}

.hero-bottom-matter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.hero-links {
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 3rem;
}

.hero-links a {
  color: #000000;
  text-decoration: none;
}

.hero-links a:hover {
  
}

.hero-links img {
  width: 16px;
}

.hero-location {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;  
}

.hero-location img {
  width: 1.1em;
  margin-right: 0.5em;
  translate: 0 -1px;
}

#victoria-time {
  margin-left: 0.3em;
}

@media screen and (max-width: 768px) {
  #main__title {
    font-size: clamp(1.5rem, 8.5vw, 6em);
    letter-spacing: 0.25em;
  }

  .beta-notification {
    height: auto;
    padding: 0.25rem 1rem 0.5rem;
    font-size: 0.875em;
  }
}