@import url('https://fonts.googleapis.com/css2?family=REM&family=Grenze+Gotisch&family=Rye&family=Courier+Prime&family=Space+Mono&family=Lisu+Bosa&family=VT323:wght@400&family=Caveat:wght@500&family=Chokokutai&family=Handjet:wght@500&family=Lugrasimo&family=Lumanosimo&family=Permanent+Marker&family=Rowdies&family=Zeyada&family=Big+Shoulders+Inline+Text&family=Press+Start+2P&family=Kablammo&family=Moirai+One&family=Monoton&family=UnifrakturCook:wght@700&display=swap');

@font-face {
  font-family: 'Old London';
  src: url('/public/fonts/old_london/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-synthesis: none;

  --primary-font: 'VT323', monospace;

  --primary-heading-font: 'REM', monospace;
  
  --primary-display-font: 'Handjet', cursive;
  
  --primary-text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);

  font-family: var(--primary-font);
  font-weight: 100;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

* {
  margin: 0;
  padding: 0;
}

* {
  z-index: 1;
}

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  width: 100%;
  z-index: 99;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1 {
  font-size: 7em;
  font-family: var(--primary-font);
  text-shadow: var(--primary-text-shadow);
  width: fit-content;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* make the backdrop-filter fade out */
  padding: 0.2em 0.5em;
  text-align: center;
}

section {
  min-height: 100vh;
  grid-column: 1 / 13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  height: 100vh;
  grid-column: 1 / span 12;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: fit-content;
  height: fit-content;
  font-size: 6em;
  letter-spacing: 0.5em;
  font-family: var(--primary-font);
  display: none;
}

#main__title span {
  text-align: center;
  cursor: default;
  user-select: none;
  text-shadow: var(--primary-text-shadow);
  margin: 0 0.2em;
}

#main__title span:hover {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.font-name {
  font-size: 4em;
}