@font-face {
  font-family: 'Old London';
  src: url('public/fonts/old_london/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trajan';
  src: url('public/fonts/trajan/Trajan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ARB 85 Poster Script JAN-39';
  src: url('public/fonts/arb_85_poster_script_jan_39/ARB 85 Poster Script JAN-39 FRE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'US Angel';
  src: url('public/fonts/usangel/usangel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cloister Black';
  src: url('public/fonts/cloister-black/CloisterBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('public/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

:root {
  
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#bg {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
}

#construction-banner {
  background: hsla(51, 100%, 67%, 0.938);
  border: 3px solid hsl(51, 48%, 45%);
  width: 550px;
  box-sizing: border-box;
  max-width: 100vw;
  text-wrap: wrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  font-family: Georgia;
  color: hsl(51, 47%, 29%);
  border-radius: 100px;
  position: fixed;
  top: 9px;
  left: calc(50vw - 275px);
  z-index: 1;
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 768px) {
  #construction-banner {
    width: 90vw;
    left: 5vw;
    padding: 10px 1.5em;
  }
  
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background: center no-repeat url('/public/images/Great_Wave_off_Kanagawa2.jpg');
  background-size: cover;
  width: 1200px;
  height: 800px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(0px);
}

header {
  width: 40vw;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 30vw;
  background: rgba(94, 120, 153, 0.829);
  z-index: 1;
  backdrop-filter: blur(10px);
  padding: 20px;
  box-sizing: border-box;
}

header * {
  color: white;
}

@media screen and (max-width: 768px) {
  header {
    width: 80vw;
    left: 10vw;
    top: 15vh;
    height: 70vh;
  }
}

h1 {
  font-size: 3em;
  margin: 0 0 0.4em 0;
}

p {
  margin: 1em 0;
  font-family: "Cutive Mono", monospace;
}

#box {
  --width: 100px;
  --height: 300px;
  width: var(--width);
  height: var(--height);
  background: repeating-linear-gradient(90deg, #00000000, #00000022 6.25%);
  position: absolute;
  bottom: 3vh;
  left: 9vw;
  z-index: 1;
  cursor: grab;
  border: 0px solid #ffffff;
  --backdrop-filter-basics: blur(0px) sepia(0) invert(0);
  border-radius: var(--border-radius);
  --border-radius: 50px;
}

#box::after {
  border-radius: var(--border-radius);
  content: "";
  display: block;
  width: var(--width);
  height: var(--height);
  background: linear-gradient(90deg, #00000011, #00000000, #00000011);
}

#box:active {
  cursor: grabbing;
}

/* firefox doesn't seem to support the displacement filter stuff sadly, so this stuff is just compatibility-proofing */
@supports (backdrop-filter: url(#displacementFilter)) {
  #box {
    backdrop-filter:  url(#displacementFilter) var(--backdrop-filter-basics) blur(1px);
  }
}

@supports not (backdrop-filter: url(#displacementFilter)) {
  #box {
    backdrop-filter: var(--backdrop-filter-basics);
  }
}

@-moz-document url-prefix() {
  #box {
    backdrop-filter: blur(5px) var(--backdrop-filter-basics) !important;
  }
}

#lens {
  --radius: 100px;
  --backdrop-filter-basics: blur(0px) sepia(0) invert(0);
  position: fixed;
  top: calc(50vh - var(--radius));
  left: calc(50vw - var(--radius));
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  background: rgba(255, 0, 0, 0.24);
  border-radius: 50%;
  backdrop-filter: url(#lensDisplacementFilter) var(--backdrop-filter-basics) blur(1px);
}

#lens::after {
  border-radius: var(--border-radius);
  content: "";
  display: block;
  width: var(--width);
  height: var(--height);
  background: linear-gradient(90deg, #00000011, #00000000, #00000011);
}

#lens:active {
  cursor: grabbing;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropped-section {
  background: purple;
  padding: 10vh 10vw;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200vh;
  display: flex;
  align-items: start;
  justify-content: center;
  clip-path: inset(10vh calc(50vw - 100px) calc(190vh - 200px) calc(50vw - 100px));
}

#profile-img {
  width: 200px;
  border-radius: 50%;
  /* clip-path: rect(0 1000px 1000px 0); */
}

.chromatic-aberration-section {
  height: 100vh;
}

.chromatic-aberration {
  color: rgba(255, 0, 255, 0.1);
  font-size: 4em;
  font-family: sans-serif;
  margin: 1rem;
}

.variable-width-text-section {
  height: 100vh;
  display: grid;
  place-items: center;
}

.variable-width-text span {
  font-family: 'Roboto';
  font-size: 3em;
  font-weight: 100;
  cursor: default;
  text-transform: uppercase;
  /* transition: 0.5s cubic-bezier(0,1.06,0,.9); */
  /* animation: font-width 1s ease infinite alternate; */
  font-style: italic;
}

@keyframes font-width {
  from {
    font-weight: 100;
  }
  to {
    font-weight: 900;
  }
}