:root {
    --dark: #131316;
    --dark-grey: #3d3d40;
    --light-grey: #8f8f97;
    --light: #dfe2fc;
    --yellow: #d0a616;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--dark);
    scroll-behavior: smooth;
}

* {
    color: var(--light);
    font-family: 'Raleway', sans-serif;
}

header {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vw 2vw;
}

nav {
    width: fit-content;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: fit-content;
}

nav li {
    margin: 0 2em;
    display: inline-block;
    animation: slideUp 0.4s ease forwards;
    opacity: 0;
}

nav li:nth-child(1) {
    animation-delay: 2.6s;
}

nav li:nth-child(2) {
    animation-delay: 2.7s;
}

nav li:nth-child(3) {
    animation-delay: 2.8s;
}

nav a {
    font-size: 1em;
    text-decoration: none;
    padding: 1em 0;
    transition: color 0.2s;
    font-weight: bold;
}

nav a::after {
    content: '';
    background: var(--yellow);
    width: 0%;
    height: 3px;
    display: block;
    margin: 3px auto;
    transition: width 0.2s;
}

.expand::after {
    width: 100%;
}

section {
    height: 100vh;
}

section h1 {
    font-size: 3em;
    font-family: 'Archivo Black', 'Poppins', sans-serif;
}

section h1::after {
    content: '.';
    color: var(--yellow);
}

.main-section {
    padding: 25vh 0 0 10vw;
    height: 100vh;
    box-sizing: border-box;
}

.main-section h1 {
    font-size: 5em;
    margin: 0;
    opacity: 0;
}

.main-section h1, .main-section h1::after {
    animation: slideIn 0.5s cubic-bezier(.36,1.73,.67,1) forwards;
    animation-delay: 1.5s;
}

.main-section h2 {
    margin: 0;
    color: var(--yellow);
    animation: slideUp 0.2s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
}

.main-section h3 {
    color: var(--light-grey);
    max-width: 30vw;
    animation: slideUp 0.5s ease-in forwards;
    animation-delay: 2s;
    opacity: 0;
}

.about-section {
    display: flex;
    justify-content: center;
}


@keyframes slideUp {
    from {position: relative;
          top: 25px;
          opacity: 0;}
    to {position: relative;
        top: 0px;
        opacity: 1;}
  }

@keyframes slideIn {
    from {opacity: 0;
        letter-spacing: 5px;
        position: relative;
        left: 20px;}
    to {opacity: 1;
        letter-spacing: 1;
        position: relative;
        left: 0;}
}

@media screen and (max-width: 500px) {
    
    * {
        
    }

    body {
        padding: 0 5vw;
    }

    .main-section {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10vh 0 0 0;
    }
    
    .main-section h1 {
        font-size: 2em;
    }

    .main-section h2 {
        font-size: 1.2em;
        margin: 0.5em 0;
    }

    .main-section h3 {
        max-width: 90vw;
        text-align: justify;
    }
}
